<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <title>Login Page</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
      <div class="login">

          <div class="avatar">
            <i class="fa fa-user"></i>
          </div>

          <h2>Login Form</h2>

          <div class="box-login">
            <i class="nama"></i>
            <input type="text" placeholder="User Name">
          </div>

          <div class="box-login">
            <i class="password"></i>
            <input type="text" placeholder="Password">
          </div>

          <button type="submit" name="login" class="btn-login">Login</button>
          <div class="bottom">
            <a href="#">Remember Me</a>
            <a href="#">Forgot Password</a>
          </div>
      </div>
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="unipa.png" width="100" height="100" class="d-inline-block align-top" alt="">
    SMA (Smart Mail Application)
    <form method='login' action="login.php"></form>

  </a>
</nav>
  </html>